.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-content {
    margin-top: 40px;
    max-width: $large;
    width: 100%;
  }
}


.header {
  position: sticky;
  display: flex;
  justify-content: center;
  padding: $padding-header;
  align-items: center;
  height: auto;
  top: 0;
  z-index: 100;
  background-color: $white;
  width: 100%;
  @include vp-1024() {
    flex-direction: column;
  }

  &-content {
    width: 100%;
    max-width: $large;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    img {
      width: 100px;
      height: 50px;
      object-fit: contain;
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;

    a {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: $padding-header;
  align-items: center;
  height: auto;
  top: 0;
  z-index: 100;
  background-color: $white;

  &-logo {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    img {
      width: 100px;
      height: 50px;
      object-fit: contain;
    }
  }
}
