.horizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 100%;

  &-title {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: $margin;
    @include vp-1024() {
      justify-content: center;
    }
  }


  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;

    &__item {
      width: 100%;
      border-radius: $border-radius;
      background-color: $white;
      display: flex;
      flex-direction: row;
      @include vp-1024() {
        flex-direction: column;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
        @include vp-1024() {
          flex-direction: column;
        }
      }

      img {
        width: 50%;
        @include vp-1024() {
          width: 100%;
        }
      }

      &-body {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
        @include vp-1024() {
          width: 100%;
        }
        p{
          width: 100%;
          height: max-content;
        }
      }
    }
  }
}


