.modal {
  position: fixed;
  inset: 0; // Эквивалент top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(31, 41, 55, 0.75); // bg-gray-800 с прозрачностью
  z-index: 101;
  cursor: pointer;

  &__content {
    background-color: #ffffff; // bg-white
    padding: 1.5rem; // p-6
    border-radius: 0.5rem; // rounded
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // shadow-lg
    text-align: center; // text-center
    cursor: initial;
  }

  &__title {
    font-size: 1.125rem; // text-lg
    font-weight: 700; // font-bold
    margin-bottom: 1rem; // mb-4
    cursor: initial;
  }

  &__text {
    margin-bottom: 1rem; // mb-4
  }

  &__button {
    padding: 0.5rem 1rem; // px-4 py-2
    background-color: #3b82f6; // bg-blue-500
    color: #ffffff; // text-white
    border-radius: 0.375rem; // rounded
    cursor: pointer;
    border: none;

    &:hover {
      background-color: #2563eb; // Hover эффект (темнее синий)
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); // focus эффект
    }
  }
}
